/*Pantalla completa*/
@media (min-width: 768px) {
    .charImage{
        width: 90%;
        height: 100%;
        background-size: contain;
        z-index: 1;
    }

    .CharacterSelection{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 60%;
        margin-left: 5%;
        margin-top: -2%;
    }

    .leftButton{
        border: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        width: 20%;
        height: 20%;
        font-size: 350%;
        margin-right: -10rem;
        z-index: 2;
    }

    .rightButton{
        border: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        width: 20%;
        height: 20%;
        font-size: 350%;
        margin-left: -10rem;
        z-index: 2;
    }
}

/*Ventana*/
@media (max-width: 767px) {
    .charImage{
        width: 110%;
        height: 130%;
        background-size: contain;
        z-index: 1;
    }

    .CharacterSelection{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60%;
        width: 60%;
        margin-left: 1rem;
        margin-top: 15%;
    }

    .leftButton{
        border: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        width: 20%;
        height: 20%;
        font-size: 300%;
        margin-right: -6rem;
        z-index: 2;
    }

    .rightButton{
        border: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        width: 20%;
        height: 20%;
        font-size: 300%;
        margin-left: -5rem;
        z-index: 2;
    }
}

.leftButton:hover {
    opacity: 0.7;
}

.rightButton:hover {
    opacity: 0.7;
}